<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>MangaShop - Sandru's shop</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta property="og:title" content="Magazin vanzare manga online"/>
		<meta name="og:description" content="Poti cumpara manga online la un pret foarte redus"/>
		<meta property="og:image" content="themes/images/logo.jpeg"/>
		
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">      
		<link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
		<link href="themes/css/bootstrappage.css" rel="stylesheet"/>
		
		
		<link href="themes/css/flexslider.css" rel="stylesheet"/>
		<link href="themes/css/main.css" rel="stylesheet"/>

	
		<script src="themes/js/jquery-1.7.2.min.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>				
		<script src="themes/js/superfish.js"></script>	
		<script src="themes/js/jquery.scrolltotop.js"></script>
	</head>
	
    <body>		
		<div id="top-bar" class="container">
			<div class="row">
				<div class="span4">
					<form method="POST" class="search_form">
						<input type="text" class="input-block-level search-query" Placeholder="eg. Attack on titan">
					</form>
				</div>
				<div class="span8">
					<div class="account pull-right">
						<ul class="user-menu">				
							<li><a href="index">Acasa</a></li>
							<li><a href="Produse">Produse</a></li>
							<li><a href="promotii">Promotii</a></li>
							<li><a href="CosulMeu">Cosul Meu</a></li>					
							<li><a href="Logare">Logare</a></li>
							<li><a href="Recenzii">Recenzii</a></li>
							<% if(esteAdmin === false){ %>
								<li><a href="Administrare" id="ascunde" style="display: none" >Administrare</a></li>
							<% } else{ %>
								<li><a href="Administrare" id="ascunde" style="display: block" >Administrare</a></li>
							<% } %>		
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="wrapper" class="container">
			<section class="navbar main-menu">
				<div class="navbar-inner main-menu">				
					<a href="index" class="logo pull-left"><img src="themes/images/logo.jpeg" class="site_logo" alt=""></a>
				</div>
			</section>							
			<section class="header_text sub">
			<img class="pageBanner" src="themes/images/banners/banner-2.jpeg" alt="New products" >
				<h4><span>Contacteaza-ma</span></h4>
			</section>
			<section class="main-content">				
				<div class="row">				
					<div class="span5">
						<div>
							<h5>INFORMATII ADITIONALE</h5>
							<p><strong>Telefon:</strong>&nbsp;0763883285<br>
							<strong>Email:</strong>&nbsp;<a href="#">sandru.marius15@gmail.com</a>								
							</p>
							<br/>
						</div>
					</div>
					<div class="span7">
						<p>Trimite un mesaj.</p>
						<form method="post" action="#">
							<fieldset>
								<div class="clearfix">
									<label for="name"><span>Name:</span></label>
									<div class="input">
										<input tabindex="1" size="18" id="name" name="name" type="text" value="" class="input-xlarge" placeholder="Nume">
									</div>
								</div>
								
								<div class="clearfix">
									<label for="email"><span>Email:</span></label>
									<div class="input">
										<input tabindex="2" size="25" id="email" name="email" type="text" value="" class="input-xlarge" placeholder="Email Address">
									</div>
								</div>
								
								<div class="clearfix">
									<label for="message"><span>Mesaj:</span></label>
									<div class="input">
										<textarea tabindex="3" class="input-xlarge" id="message" name="body" rows="7" placeholder="Mesaj"></textarea>
									</div>
								</div>
								
								<div class="actions">
									<button tabindex="3" type="submit" class="btn btn-inverse">Trimite mesaj</button>
								</div>
							</fieldset>
						</form>
					</div>				
				</div>
			</section>			
			<section id="footer-bar">
				<div class="row">
					<div class="span3">
						<h4>Navigheaza</h4>
						<ul class="nav">
							<li><a href="./Contact">Contacteaza-ma</a></li>	
							<li><a href="./index">Acasa</a></li>
							<li><a href="./CosulMeu">CosulMeu</a></li>
							<li><a href="./Plata">Plata</a></li>					
							<li><a href="./Logare">Logare</a></li>						
						</ul>					
					</div>
					<div class="span4">
						<h4>Contul meu</h4>
						<ul class="nav">
							<li><a href="#">Contul meu</a></li>
							<li><a href="#">Istoricul cumparaturilor</a></li>
							<li><a href="#">Wish List</a></li>
							<li><a href="#">Newsletter</a></li>
						</ul>
					</div>
					<div class="span5">
						<br/>
						<span class="social_icons">
							<a class="facebook" href="#">Facebook</a>
							<a class="twitter" href="#">Twitter</a>
							<a class="skype" href="#">Skype</a>
							<a class="vimeo" href="#">Vimeo</a>
						</span>
					</div>					
				</div>	
			</section>
			<section id="copyright">
				<span>Copyright 2020 Sandru Marius-Constantin.</span>
			</section>
		</div>
		<script src="themes/js/common.js"></script>		
    </body>
</html>