<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>MangaShop - Sandru's shop</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta property="og:title" content="Magazin vanzare manga online"/>
		<meta name="og:description" content="Poti cumpara manga online la un pret foarte redus"/>
		<meta property="og:image" content="themes/images/logo.jpeg"/>
		
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">      
		<link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
		<link href="themes/css/bootstrappage.css" rel="stylesheet"/>
		
		
		<link href="themes/css/flexslider.css" rel="stylesheet"/>
		<link href="themes/css/main.css" rel="stylesheet"/>

	
		<script src="themes/js/jquery-1.7.2.min.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>				
		<script src="themes/js/superfish.js"></script>	
		<script src="themes/js/jquery.scrolltotop.js"></script>
	</head>
	
    <body>		
		<div id="top-bar" class="container">
			<div class="row">
				<div class="span4">
					<form method="POST" class="search_form">
						<input type="text" class="input-block-level search-query" Placeholder="eg. Attack on titan">
					</form>
				</div>
				<div class="span8">
					<div class="account pull-right">
						<ul class="user-menu">				
							<li><a href="index">Acasa</a></li>
							<li><a href="Produse">Produse</a></li>
							<li><a href="promotii">Promotii</a></li>
							<li><a href="CosulMeu">Cosul Meu</a></li>					
							<li><a href="Logare">Logare</a></li>
							<li><a href="Recenzii">Recenzii</a></li>
							<% if(esteAdmin === false){ %>
								<li><a href="Administrare" id="ascunde" style="display: none" >Administrare</a></li>
							<% } else{ %>
								<li><a href="Administrare" id="ascunde" style="display: block" >Administrare</a></li>
							<% } %>		
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="wrapper" class="container">
			<section class="navbar main-menu">
				<div class="navbar-inner main-menu">				
					<a href="index" class="logo pull-left"><img src="themes/images/logo.jpeg" class="site_logo" alt=""></a>
				</div>
			</section>			
			<section class="header_text sub">
			<img class="pageBanner" src="themes/images/banners/banner-2.jpeg" alt="New products" >
				<h4><span>Logheaza-te sau inregistreaza-te</span></h4>
			</section>			
			<section class="main-content">				
				<div class="row">
					<div class="span5">	
						<% if (tip_mesaj == "error") { %>
							<p style="color:red"><%- message %></p>
						<% } %>
						
						<% if (tip_mesaj == "success") { %>
							<p style="color:green"><%- message %></p>
						<% } %>				
						<h4 class="title"><span class="text">Formular de <strong>Logare</strong></span></h4>
						<form action="/logaree" method="post">
							<input type="hidden" name="next" value="/">
							<fieldset>
								<div class="control-group">
									<label class="control-label" for="nume">Nume de utilizator</label>
									<div class="controls">
										<input type="text" placeholder="Introdu numele de utilizator" id="username" class="input-xlarge" name="nume">
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="parola">Parola</label>
									<div class="controls">
										<input type="password" placeholder="Introdu parola" id="password" class="input-xlarge" name="parola">
									</div>
								</div>
								<div class="control-group">
									<input tabindex="3" class="btn btn-inverse large" type="submit" value="Logheaza-te in cont">
									<hr>
									<p class="reset">Recupereaza-ti <a tabindex="4" href="#" title="Recupereaza-ti parola sau numele de utilizator">parola sau numele de utilizator</a></p>
								</div>
							</fieldset>
						</form>				
					</div>
					<div class="span7">					
						<h4 class="title"><span class="text">Formular de <strong>Inregistrare</strong></span></h4>
						<form action="#" method="post" class="form-stacked">
							<fieldset>
								<div class="control-group">
									<label class="control-label">Nume de utilizator</label>
									<div class="controls">
										<input type="text" placeholder="Introdu numele de utilizator" class="input-xlarge">
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Adresa de email:</label>
									<div class="controls">
										<input type="password" placeholder="Introdu email-ul" class="input-xlarge">
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Parola:</label>
									<div class="controls">
										<input type="password" placeholder="Introdu parola" class="input-xlarge">
									</div>
								</div>							                            
								<hr>
								<button class="btn btn-inverse" type="button"> <a href="#">Creaza-ti contul</a> </button>
							</fieldset>
						</form>					
					</div>	
				</div>
			</section>			
			<section id="footer-bar">
				<div class="row">
					<div class="span3">
						<h4>Navigheaza</h4>
						<ul class="nav">
							<li><a href="./Contact">Contacteaza-ma</a></li>	
							<li><a href="./index">Acasa</a></li>
							<li><a href="./CosulMeu">CosulMeu</a></li>
							<li><a href="./Plata">Plata</a></li>					
							<li><a href="./Logare">Logare</a></li>						
						</ul>				 	
					</div>
					<div class="span4">
						<h4>Contul meu</h4>
						<ul class="nav">
							<li><a href="#">Contul meu</a></li>
							<li><a href="#">Istoricul cumparaturilor</a></li>
							<li><a href="#">Wish List</a></li>
							<li><a href="#">Newsletter</a></li>
						</ul>
					</div>
					<div class="span5">
						<br/>
						<span class="social_icons">
							<a class="facebook" href="#">Facebook</a>
							<a class="twitter" href="#">Twitter</a>
							<a class="skype" href="#">Skype</a>
							<a class="vimeo" href="#">Vimeo</a>
						</span>
					</div>					
				</div>	
			</section>
			<section id="copyright">
				<span>Copyright 2020 Sandru Marius-Constantin.</span>
			</section>
		</div>
		<script src="themes/js/common.js"></script>
		<script>
			$(document).ready(function() {
				$('#checkout').click(function (e) {
					document.location.href = "checkout";
				})
			});
		</script>	
    </body>
</html>